<%- include ("../partials/header") %>

<main id="main">

  <!-- ======= Campground Details Section ======= -->
  <section class="campground-details">
    <div class="container">

      <div class="campground-details-container">

        <div class="campground-details-carousel">
          <img src="<%= campground.image %>" alt="<%= campground.name %>" class="img-fluid">
        </div>

        <div class="campground-info">
          <h3>Information</h3>
          <ul>
            <li><strong>Campground</strong>: <%= campground.name %></li>
            <li><strong>Location</strong>: <%= campground.location %></li>
            <li><strong>Price</strong>: $<%= campground.price %> /night</li>
            <li><strong>Submitted by</strong>: <a
                href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>,
              <%= moment(campground.createdAt).fromNow() %></li>
          </ul>
        </div>
      </div>

      <div class="campground-description">
        <h2><%= campground.name %></h2>
        <p>
          <%= campground.description %>
        </p>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>

      <!-- Comments -->

      <div class="col-md-12">
        <a class="btn btn-success float-right" href="/campgrounds/<%= campground._id %>/comments/new">Add New
          Comment</a>
        <div class="comments text-left padDiv mb-30">

          <div class="entry-comments">
            <h6 class="mb-30"><%= campground.comments.length %> comments</h6>
            <% campground.comments.forEach(function(comment){ %>

            <ul class="entry-comments-list list-unstyled">
              <li>
                <div class="entry-comments-item">
                  <img src="<%= comment.author.avatar %>" class="entry-comments-avatar" alt="">
                  <div class="entry-comments-body">
                    <span class="entry-comments-author"><%= comment.author.username %></span>
                    <span><a href="#"><%= moment(comment.createdAt).fromNow() %></a></span>
                    <p class="mb-10"><%= comment.text %></p>

                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="float-right">
                      <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit"
                        class="btn btn-sm btn-warning">EDIT</a>
                      <% } %>
                      <% if(currentUser && currentUser.isAdmin){ %>
                      <form class="delete-form"
                        action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE"
                        method="POST">
                        <button class="btn btn-sm btn-danger">DELETE</button>
                      </form>
                    </div>
                    <% } %>
                  </div>
                </div>
              </li>
            </ul>
            <% }) %>
          </div>
        </div>
      </div>

      <!-- End Comments -->

    </div>
  </section>

  <!-- End Campground Details Section -->

</main>
<!-- End #main -->

<%- include ("../partials/footer") %>